<p> <strong>Reverse Sting Pipe --- </strong>{{ name | reverseString}}</p>

<p> <strong>Amount format pipe --- </strong> {{amount | amountFormat : 'CAD'}}</p>

<strong>Card number masking pipe ---</strong>
<p [innerHTML]="creditCardNumber | cardNumberMasking"></p>

<p><strong>Age pipe --- </strong>{{userDateOfBirth | age}}</p>

<strong>Oprations pipe ---</strong>
<p><strong>Square --- </strong>{{value1 | oprations : 'square'}}</p>
<p><strong>Cube --- </strong>{{value1 | oprations : 'cube'}}</p>


<strong>Currency to text pipe --- </strong>
<input type="text" 
    #currencyInpt
    (keyup)="onChange(currencyInpt.value)">

<p>{{currency | currencyToText: true: 'INR'}}</p>

<p>{{string1 | wordCount}}</p>
<p>{{string2 | charactorCount}}</p>

<p>{{ file.size | fileSize: 'megabyte' }}</p>


<strong>Currency acronym to text pipe --- </strong>
<p aria-labelledby="currency-full-string">{{currencyCode}}</p>
<span id="currency-full-string" class="sr-only">{{currencyCode | acronymsToString}}</span>


